*.egg-info/
*.pyc
*.ropeproject/
.DS_Store
.vscode
*.pyc
__pycache__
api/api.log
api.log
api/api.db
venv

# frontend
frontend/blur-admin/node_modules
frontend/blur-admin/gulp.1
frontend/blur-admin/build
frontend/blur-admin/.tmp

frontend/blur-admin/src/release
frontend/blur-admin/release
frontend/blur-admin/bower_components