

<!--
  <div class="panel panel-default bootstrap-panel">
    <div class="panel-heading">
      <h2><font color="#666666"><center>Automation Score</center></font></h2>
    </div>
    <div class="panel-body footer-panel">
      <center><h1><font size=100 color="#666666">9<font color="#aaaaaa">/10</font></font></h1></center>
    </div>
  </div>

<h2 class="ng-scope">Request Details</h2>
<div ba-panel>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><b>Requester</b></th>
          <th><b>Application</b></th>
          <th><b>Summary</b></th>
          <th><b>Source</b></th>
          <th><b>Destination</b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>john doe</td>
          <td >egwteg</td>
          <td>request 2</td>
          <td>127.0.0.1</td>
          <td>127.0.0.1</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



<h2 class="ng-scope">Summary</h2>
  <div ba-panel>
    This is where the summary will go. It will be notes about the request. It will not be displayed in the dashboard queue but will appear here.
</div>

<center>
  <button class="btn btn-success" data-toggle="modal" ng-click="accept('/devices')">Proceed</button>
  <button class="btn btn-danger" data-toggle="modal" ng-click="accept('/devices')">Manual Close</button>
</center>

-->

<p>Test</p>
