

<!-- <div ba-panel ng-controller="SummaryCtrl"> -->
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default bootstrap-panel">
    <div class="panel-heading">
      <h2><font color="#666666"><center>Automation Score</center></font></h2>
    </div>
    <div class="panel-body footer-panel">
      <center><h1><font size=100 color="#666666">9<font color="#aaaaaa">/10</font></font></h1></center>
    </div>
  </div>

</div>
</div>

<h2 class="ng-scope">Request Details</h2>
<div ba-panel>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><b>Requester</b></th>
          <th><b>Application</b></th>
          <th><b>Source</b></th>
          <th><b>Destination</b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>john doe</td>
          <td>egwteg</td>
          <td>127.0.0.1</td>
          <td>127.0.0.1</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



<h2 class="ng-scope">Summary</h2>
  <div ba-panel>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et enim sed turpis laoreet pretium eu vitae quam. Ut mauris elit, euismod eu viverra in, auctor at felis. Nunc vehicula mattis dolor ullamcorper molestie. Nam eleifend scelerisque neque tempor semper. Nam dolor massa, sodales ac neque et, congue vulputate sem. Etiam in ante convallis, egestas est a, suscipit nisl. Proin a est eget lectus eleifend ultrices ut id neque. In tristique semper velit a fringilla.
</div>

<center>
  <button class="btn btn-success" data-toggle="modal" ng-click="go('/changeRequest/239/environment')">Proceed</button>
  <button class="btn btn-danger" data-toggle="modal" ng-click="go('/changeRequest/239/environment')">Manual Close</button>
</center>

<!-- </div> -->
