<div class="ng-scope" ng-controller="ConfirmCtrl as vms">
  <div ba-panel>
    <h2 class="ng-scope">Summary of Change</h2>
    <div>
      <p><b>Device:</b> {{vms.device.common_name}}</p>
      <p><b>Profile:</b> {{vms.profile.name}}</p>
      <p><b>Automation Method:</b> {{vms.method}}</p>
      <br />
      <br />
      <h4>New Objects</h4>
      <div ng-if="vms.candidate_policy.new_objects.source_addresses">
        <p><b>Source Addresses:</b></p>
        <p ng-repeat="(key, value) in vms.candidate_policy.new_objects.source_addresses">
          {{value.name}} - {{value.type}} - {{value.value}}
        </p>
      </div> 
      <br />
      <div ng-if="vms.candidate_policy.new_objects.destination_addresses">
        <p><b>Destination Addresses:</b></p>
        <p ng-repeat="(key, value) in vms.candidate_policy.new_objects.destination_addresses">
          {{value.name}} - {{value.type}} - {{value.value}}
        </p>
      </div> 
      <br />
      <div ng-if="vms.candidate_policy.new_objects.services">
        <p><b>Services:</b></p>
        <p ng-repeat="(key, value) in vms.candidate_policy.new_objects.services">
          {{value.name}} - {{value.protocol}}/{{value.port}}
        </p>
      </div> 
    </div>
      <center>
        <form name="commitForm">
          <div class="">
            <label class="checkbox-inline custom-checkbox nowrap">
              <input type="checkbox" id="vms.commitFormData.commit" value="commit" ng-model="vms.commitFormData.commit" name="vms.commitFormData.commit">
              <span>Commit Device</span>
            </label>
          </div>
        </form>
        <br/>
        <button class="btn btn-success" data-toggle="modal" ng-click="vms.submitForm()">Confirm</button>
    </center>
  </div>
</div>