<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Import bootstrap navbar -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Import local CSS styles -->
  <link rel="stylesheet" type="text/css" href="starter.css">
</head>
<body>

<!-- navbar -->
  <nav class="navbar navbar-light" style="background-color: #f96b04;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">orangengine</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <button class="btn navbar-btn pull-right">Logout</button>
    </div>
  </nav>

<!-- end navbar -->

<!-- login boxes -->

<div class="container">
  <div class="row">
    <div class="col-sm-4">
  <h2>Login to orangengine</h2>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div>
</div>
<!-- end login boxes -->

</body>
</html>
