<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll" class="ng-scope">
              <div ng-controller="NewPolicyCtrl as vms">
                 <!-- BEGIN NAME -->

                <ba-wizard>
                    <ba-wizard-step title="Name" form="vms.nameForm">
                        <form name="vms.nameForm" novalidate>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">

                                    <div class="form-group has-feedback"
                                            ng-class="{'has-error': vms.nameFormData.name.$invalid && (vms.nameFormData.name.$dirty || vms.nameForm.$submitted)}">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Policy Name" ng-model="vms.nameFormData.name" required>
                                        <span class="help-block error-block basic-block">The name for the new policy</span>
                                    </div>
                                    <div class="form-group has-feedback"
                                            ng-class="{'has-error': vms.nameFormData.notes.$invalid && (devicesNewvms.deviceInfoForm.hostname.$dirty || vms.nameFormData.$submitted)}">
                                        <textarea type="text" class="form-control" id="vms.nameFormData.notes" name="vms.nameFormData.notes" placeholder="Notes" ng-model="vms.nameFormData.notes" required></textarea>
                                        <span class="help-block error-block basic-block">Device hostname or IP</span>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <!-- END NAME -->

                    <!-- BEGIN SOURCES -->

                    <ba-wizard-step title="Sources" form="vms.sourceForm">
                        <form name="vms.sourceForm" novalidate>
                            <div class="row">
                                <div class="col-md-4">
                                  <h3>Zones:</h3>

                                  <div>
                                    <ul ng-repeat="zone in vms.sourceFormData.zones">
                                      <li>{{zone}}</li>
                                    </ul>
                                  </div>
                                  
                                  <fieldset class="form-group has-feedback" ng-repeat="fieldSet in vms.sourceFormData.new_zones track by $index">

                                      <div class="form-group has-feedback col-md-10"
                                              ng-class="{'has-error': vms.sourceFormData.new_zones[$index].$invalid && (vms.sourceFormData.new_zones[$index].$dirty || vms.sourceForm.$submitted)}">
                                          <input type="text" class="form-control" id="vms.sourceFormData.new_zones[$index]" name="vms.sourceFormData.new_zones[$index]" placeholder="Zone" ng-model="vms.sourceFormData.new_zones[$index]"  required>
                                          <span class="help-block error-block basic-block">Source Zone</span>
                                      </div>

                                      <div class="form-group col-md-2">
                                          <button type="button" class="btn btn-primary btn-danger" ng-click="vms.removeFromList($event,$index, vms.sourceFormData.new_zones)">Remove</button>
                                      </div>

                                  </fieldset>

                                  <div class="col-md-6 col-md-offset-3">
                                      <button type="button" class="btn btn-primary" ng-click="vms.addNewZone(vms.sourceFormData.new_zones)">Add Zone</button>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <h3>Addresses:</h3>

                                  <div class="horizontal-scroll">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th><b>Type</b></th>
                                          <th><b>Name</b></th>
                                          <th><b>Value</b></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="linked_item in vms.sourceFormData.linked_sources">
                                          <td>{{linked_item.type}}</td>
                                          <td>{{linked_item.name}}</td>
                                          <td>{{linked_item.value}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>

                                  <fieldset class="form-group has-feedback" ng-repeat="fieldSet in vms.sourceFormData.new_sources track by $index">

                                      <div class="form-group has-feedback col-md-3"
                                              ng-class="{'has-error': vms.sourceFormData.new_sources[$index].type.$invalid && (vms.sourceFormData.new_sources[$index].type.$dirty || vms.sourceForm.$submitted)}">
                                          <ui-select ng-model="vms.sourceFormData.new_sources[$index].type"
                                                  class="btn-group bootstrap-select form-control"
                                                  ng-disabled="false"
                                                  append-to-body="true"
                                                  search-enabled="false">
                                              <ui-select-match placeholder="Profile">
                                                  <span> {{$select.selected}}</span>
                                              </ui-select-match>
                                              <ui-select-choices repeat="type in vms.addressTypes | filter: $select.search">
                                                  <span ng-bind-html="type"></span>
                                              </ui-select-choices>
                                          </ui-select>
                                          <span class="help-block error-block basic-block">Address Type</span>
                                      </div>

                                      <div class="form-group has-feedback col-md-3"
                                              ng-class="{'has-error': vms.sourceFormData.new_sources[$index].name.$invalid && (vms.sourceFormData.new_sources[$index].name.$dirty || vms.sourceForm.$submitted)}">
                                          <input type="text" class="form-control" id="vms.sourceFormData.new_sources[$index].name" name="vms.sourceFormData.new_sources[$index].name" placeholder="Object Name" ng-model="vms.sourceFormData.new_sources[$index].name"  required>
                                          <span class="help-block error-block basic-block">Object Name</span>
                                      </div>

                                      <div class="form-group has-feedback col-md-3"
                                              ng-class="{'has-error': vms.sourceFormData.new_sources[$index].value.$invalid && (vms.sourceFormData.new_sources[$index].value.$dirty || vms.sourceForm.$submitted)}">
                                          <input type="text" class="form-control" id="vms.sourceFormData.new_sources[$index].value" name="vms.sourceFormData.new_sources[$index].value" placeholder="Value" ng-model="vms.sourceFormData.new_sources[$index].value"  required>
                                          <span class="help-block error-block basic-block">Object value</span>
                                      </div>

                                      <div class="form-group col-md-2">
                                          <button type="button" class="btn btn-primary btn-danger" ng-click="vms.removeFromList($event,$index, vms.sourceFormData.new_sources)">Remove</button>
                                      </div>

                                  </fieldset>
                                  <div class="col-md-6 col-md-offset-3">
                                      <button type="button" class="btn btn-primary" ng-click="vms.addNewAddress(vms.sourceFormData.new_sources)">Add Address</button>
                                  </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <!-- END SOURCES -->

                    <!-- BEGIN DESTINATIONS -->

                    <ba-wizard-step title="Destinations" form="vms.destinationForm">
                        <form name="vms.destinationForm" novalidate>
                            <div class="row">
                                <div class="col-md-4">
                                  <h3>Zones:</h3>

                                  <div>
                                    <ul ng-repeat="zone in vms.destinationFormData.zones">
                                      <li>{{zone}}</li>
                                    </ul>
                                  </div>
                                  
                                  <fieldset class="form-group has-feedback" ng-repeat="fieldSet in vms.destinationFormData.new_zones track by $index">

                                      <div class="form-group has-feedback col-md-10"
                                              ng-class="{'has-error': vms.destinationFormData.new_zones[$index].$invalid && (vms.destinationFormData.new_zones[$index].$dirty || vms.destinationForm.$submitted)}">
                                          <input type="text" class="form-control" id="vms.destinationFormData.new_zones[$index]" name="vms.destinationFormData.new_zones[$index]" placeholder="Zone" ng-model="vms.destinationFormData.new_zones[$index]"  required>
                                          <span class="help-block error-block basic-block">Destination Zone</span>
                                      </div>

                                      <div class="form-group col-md-2">
                                          <button type="button" class="btn btn-primary btn-danger" ng-click="vms.removeFromList($event,$index, vms.destinationFormData.new_zones)">Remove</button>
                                      </div>

                                  </fieldset>

                                  <div class="col-md-6 col-md-offset-3">
                                      <button type="button" class="btn btn-primary" ng-click="vms.addNewZone(vms.destinationFormData.new_zones)">Add Zone</button>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <h3>Addresses:</h3>

                                  <div class="horizontal-scroll">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th><b>Type</b></th>
                                          <th><b>Name</b></th>
                                          <th><b>Value</b></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="linked_item in vms.destinationFormData.linked_destinations">
                                          <td>{{linked_item.type}}</td>
                                          <td>{{linked_item.name}}</td>
                                          <td>{{linked_item.value}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>

                                  <fieldset class="form-group has-feedback" ng-repeat="fieldSet in vms.destinationFormData.new_destinations track by $index">

                                      <div class="form-group has-feedback col-md-3"
                                              ng-class="{'has-error': vms.destinationFormData.new_destinations[$index].type.$invalid && (vms.destinationFormData.new_destinations[$index].type.$dirty || vms.destinationForm.$submitted)}">
                                          <ui-select ng-model="vms.destinationFormData.new_destinations[$index].type"
                                                  class="btn-group bootstrap-select form-control"
                                                  ng-disabled="false"
                                                  append-to-body="true"
                                                  search-enabled="false">
                                              <ui-select-match placeholder="Profile">
                                                  <span> {{$select.selected}}</span>
                                              </ui-select-match>
                                              <ui-select-choices repeat="type in vms.addressTypes | filter: $select.search">
                                                  <span ng-bind-html="type"></span>
                                              </ui-select-choices>
                                          </ui-select>
                                          <span class="help-block error-block basic-block">Address Type</span>
                                      </div>

                                      <div class="form-group has-feedback col-md-3"
                                              ng-class="{'has-error': vms.destinationFormData.new_destinations[$index].name.$invalid && (vms.destinationFormData.new_destinations[$index].name.$dirty || vms.destinationForm.$submitted)}">
                                          <input type="text" class="form-control" id="vms.destinationFormData.new_destinations[$index].name" name="vms.destinationFormData.new_destinations[$index].name" placeholder="Object Name" ng-model="vms.destinationFormData.new_destinations[$index].name"  required>
                                          <span class="help-block error-block basic-block">Object Name</span>
                                      </div>

                                      <div class="form-group has-feedback col-md-3"
                                              ng-class="{'has-error': vms.destinationFormData.new_destinations[$index].value.$invalid && (vms.destinationFormData.new_destinations[$index].value.$dirty || vms.destinationForm.$submitted)}">
                                          <input type="text" class="form-control" id="vms.destinationFormData.new_destinations[$index].value" name="vms.destinationFormData.new_destinations[$index].value" placeholder="Value" ng-model="vms.destinationFormData.new_destinations[$index].value"  required>
                                          <span class="help-block error-block basic-block">Object value</span>
                                      </div>

                                      <div class="form-group col-md-2">
                                          <button type="button" class="btn btn-primary btn-danger" ng-click="vms.removeFromList($event,$index, vms.destinationFormData.new_destinations)">Remove</button>
                                      </div>

                                  </fieldset>
                                  <div class="col-md-6 col-md-offset-3">
                                      <button type="button" class="btn btn-primary" ng-click="vms.addNewAddress(vms.destinationFormData.new_destinations)">Add Address</button>
                                  </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <!-- END DESTINATIONS -->

                    <!-- BEGIN SERVICES -->

                    <ba-wizard-step title="Services" form="vms.serviceForm">
                        <form name="vms.serviceForm" novalidate>
                            <div class="row">
                                <div class="col-md-4">
                                  <h3>Applications:</h3>

                                  <div>
                                    <ul ng-repeat="application in vms.serviceFormData.linked_applications">
                                      <li>{{application.name}}</li>
                                    </ul>
                                  </div>
                                  
                                  <fieldset class="form-group has-feedback" ng-repeat="fieldSet in vms.serviceFormData.new_applications track by $index">

                                      <div class="form-group has-feedback col-md-10"
                                              ng-class="{'has-error': vms.serviceFormData.new_applications[$index].name.$invalid && (vms.serviceFormData.new_applications[$index].name.$dirty || vms.serviceForm.$submitted)}">
                                          <input type="text" class="form-control" id="vms.serviceFormData.new_applications[$index].name" name="vms.serviceFormData.new_applications[$index].name" placeholder="Application" ng-model="vms.serviceFormData.new_applications[$index].name"  required>
                                          <span class="help-block error-block basic-block">Application</span>
                                      </div>

                                      <div class="form-group col-md-2">
                                          <button type="button" class="btn btn-primary btn-danger" ng-click="vms.removeFromList($event,$index, vms.serviceFormData.new_applications)">Remove</button>
                                      </div>

                                  </fieldset>

                                  <div class="col-md-6 col-md-offset-3">
                                      <button type="button" class="btn btn-primary" ng-click="vms.addNewApplication(vms.serviceFormData.new_applications)">Add Application</button>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <h3>Services:</h3>

                                  <div class="horizontal-scroll">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th><b>Name</b></th>
                                          <th><b>Protocol</b></th>
                                          <th><b>Port</b></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="linked_item in vms.serviceFormData.linked_services">
                                          <td>{{linked_item.name}}</td>
                                          <td>{{linked_item.protocol}}</td>
                                          <td>{{linked_item.port}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>

                                  <fieldset class="form-group has-feedback" ng-repeat="fieldSet in vms.serviceFormData.new_services track by $index">

                                      <div class="form-group has-feedback col-md-3"
                                              ng-class="{'has-error': vms.serviceFormData.new_services[$index].name.$invalid && (vms.serviceFormData.new_services[$index].name.$dirty || vms.serviceForm.$submitted)}">
                                          <input type="text" class="form-control" id="vms.serviceFormData.new_services[$index].name" name="vms.serviceFormData.new_services[$index].name" placeholder="Object Name" ng-model="vms.serviceFormData.new_services[$index].name"  required>
                                          <span class="help-block error-block basic-block">Object Name</span>
                                      </div>

                                      <div class="form-group has-feedback col-md-3"
                                              ng-class="{'has-error': vms.serviceFormData.new_services[$index].protocol.$invalid && (vms.serviceFormData.new_services[$index].protocol.$dirty || vms.serviceForm.$submitted)}">
                                          <input type="text" class="form-control" id="vms.serviceFormData.new_services[$index].protocol" name="vms.serviceFormData.new_services[$index].protocol" placeholder="Protocol" ng-model="vms.serviceFormData.new_services[$index].protocol"  required>
                                          <span class="help-block error-block basic-block">Object protocol</span>
                                      </div>

                                      <div class="form-group has-feedback col-md-3"
                                              ng-class="{'has-error': vms.serviceFormData.new_services[$index].port.$invalid && (vms.serviceFormData.new_services[$index].port.$dirty || vms.serviceForm.$submitted)}">
                                          <input type="text" class="form-control" id="vms.serviceFormData.new_services[$index].port" name="vms.serviceFormData.new_services[$index].port" placeholder="Port" ng-model="vms.serviceFormData.new_services[$index].port"  required>
                                          <span class="help-block error-block basic-block">Object port</span>
                                      </div>

                                      <div class="form-group col-md-2">
                                          <button type="button" class="btn btn-primary btn-danger" ng-click="vms.removeFromList($event,$index, vms.serviceFormData.new_services)">Remove</button>
                                      </div>

                                  </fieldset>
                                  <div class="col-md-6 col-md-offset-3">
                                      <button type="button" class="btn btn-primary" ng-click="vms.addNewAddress(vms.serviceFormData.new_services)">Add Service</button>
                                  </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <!-- END SERVICES -->

                    <!-- BEGIN ACTION -->

                    <ba-wizard-step title="Action" form="vms.actionForm">
                        <form name="vms.actionForm" novalidate>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                  <h3>Action:</h3>

                                    <div class="form-group has-feedback"
                                              ng-class="{'has-error': vms.actionFormData.action.$invalid && (vms.actionFormData.action.$dirty || vms.actionFormData.$submitted)}">
                                          <ui-select ng-model="vms.actionFormData.action"
                                                  class="btn-group bootstrap-select form-control"
                                                  ng-disabled="false"
                                                  append-to-body="true"
                                                  search-enabled="false">
                                              <ui-select-match placeholder="Profile">
                                                  <span> {{$select.selected}}</span>
                                              </ui-select-match>
                                              <ui-select-choices repeat="action in vms.actionTypes | filter: $select.search">
                                                  <span ng-bind-html="action"></span>
                                              </ui-select-choices>
                                          </ui-select>
                                          <span class="help-block error-block basic-block">Policy Action</span>
                                      </div>

                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <!-- END ACTION -->


                  <!-- BEGIN SUMMARY -->

                  <ba-wizard-step title="Finish">
                      <form class="form-horizontal" name="vms.finishForm" novalidate>
                          <div class="col-md-6 col-md-offset-3">
                              <div class="col-md-4 form-horizontal" style="text-align: right;">
                                  <p>Policy Name:</p>
                              </div>
                              <div class="col-md-8">
                                  <p>{{ vms.nameFormData.name }}</p>
                              </div>
                          </div>
                          <div class="col-md-6 col-md-offset-3">
                              <div class="col-md-4 form-horizontal" style="text-align: right;">
                                  <p>Notes:</p>
                              </div>
                              <div class="col-md-8">
                                  <p>{{ vms.nameFormData.notes }}</p>
                              </div>
                          </div>
                          <div class="col-md-6 col-md-offset-3">
                              <div class="col-md-4 form-horizontal" style="text-align: right;">
                                  <p>Source Zones:</p>
                              </div>
                              <div class="col-md-8">
                                  <p ng-repeat="item in vms.sourceFormData.zones">{{ item }}</p>
                                  <p ng-repeat="item in vms.sourceFormData.new_zones">{{ item }}</p>
                              </div>
                          </div>
                          <div class="col-md-6 col-md-offset-3">
                              <div class="col-md-4 form-horizontal" style="text-align: right;">
                                  <p>Source Addresses:</p>
                              </div>
                              <div class="col-md-8">
                                  <p ng-repeat="item in vms.sourceFormData.linked_sources">{{ item.name }} - {{item.type}} - {{item.value}}</p>
                                  <p ng-repeat="item in vms.sourceFormData.new_sources">{{ item.name }} - {{item.type}} - {{item.value}}</p>
                              </div>
                          </div>
                          <div class="col-md-6 col-md-offset-3">
                              <div class="col-md-4 form-horizontal" style="text-align: right;">
                                  <p>Destination Zones:</p>
                              </div>
                              <div class="col-md-8">
                                  <p ng-repeat="item in vms.destinationFormData.zones">{{ item }}</p>
                                  <p ng-repeat="item in vms.destinationFormData.new_zones">{{ item }}</p>
                              </div>
                          </div>
                          <div class="col-md-6 col-md-offset-3">
                              <div class="col-md-4 form-horizontal" style="text-align: right;">
                                  <p>Destination Addresses:</p>
                              </div>
                              <div class="col-md-8">
                                  <p ng-repeat="item in vms.destinationFormData.linked_destinations">{{ item.name }} - {{item.type}} - {{item.value}}</p>
                                  <p ng-repeat="item in vms.destinationFormData.new_destinations">{{ item.name }} - {{item.type}} - {{item.value}}</p>
                              </div>
                          </div>
                          <div class="col-md-6 col-md-offset-3">
                              <div class="col-md-4 form-horizontal" style="text-align: right;">
                                  <p>Applications:</p>
                              </div>
                              <div class="col-md-8">
                                  <p ng-repeat="item in vms.serviceFormData.linked_applications">{{ item.name }}</p>
                                  <p ng-repeat="item in vms.serviceFormData.new_applications">{{ item.name }}</p>
                              </div>
                          </div>
                          <div class="col-md-6 col-md-offset-3">
                              <div class="col-md-4 form-horizontal" style="text-align: right;">
                                  <p>Services:</p>
                              </div>
                              <div class="col-md-8">
                                  <p ng-repeat="item in vms.serviceFormData.linked_services">{{ item.name }} - {{item.protocol}}/{{item.port}}</p>
                                  <p ng-repeat="item in vms.serviceFormData.new_services">{{ item.name }} - {{item.protocol}}/{{item.port}}</p>
                              </div>
                          </div>
                          <div class="col-md-6 col-md-offset-3">
                              <div class="col-md-4 form-horizontal" style="text-align: right;">
                                  <p>Action:</p>
                              </div>
                              <div class="col-md-8">
                                  <p>{{ vms.actionFormData.action }}</p>
                              </div>
                          </div>
                          <div class="col-md-7 col-md-offset-5">
                              <button type="submit" class="btn btn-primary" data-toggle="modal" ng-click="vms.submitForm()">Proceed</button>
                          </div>
                      </form>
                  </ba-wizard-step>
                </ba-wizard>
              </div>
            </div>
        </div>
    </div>

</div>
