<div class="queue-container" ng-class="{'transparent': transparent}">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><b>Requester</b></th>
          <th><b>Application</b></th>
          <th><b>Summary</b></th>
          <th><b>Source</b></th>
          <th><b>Destination</b></th>
          <th><b>Actions</b></th>
        </tr>
      </thead>
        <tr ng-repeat="item in queueData">
          <td>{{item.requestor}}</td>
          <td >{{item.application}}</td>
          <td>{{item.summary}}</td>
          <td>{{item.source_location}}</td>
          <td>{{item.destination_location}}</td>
        <td>
          <button class="btn btn-success" data-toggle="modal" ng-click="go('/changeRequest')">Review</button>
          <button class="btn btn-danger" data-toggle="modal" ng-click="accept('/devices')">Cancel</button>
            </td>
      </tr>

        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- end main page content -->

</div>
</div>
