<div class="queue-container, ng-scope" ng-class="{'transparent': transparent}" ng-view>
  <div class="horizontal-scroll">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><b>Requester</b></th>
          <th><b>Application</b></th>
          <th><b>Summary</b></th>
          <th><b>Source</b></th>
          <th><b>Destination</b></th>
          <th><b>Actions</b></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in vm.queueData track by item.id">
          <td>{{item.requestor}}</td>
          <td>{{item.application}}</td>
          <td>{{item.summary}}</td>
          <td>{{item.source_location}}</td>
          <td>{{item.destination_location}}</td>
          <td>
            <button class="btn btn-success btn-xs" data-toggle="modal" ng-click="vm.go(item.id)">Review</button>
            <button class="btn btn-danger btn-xs" data-toggle="modal" ng-click="vm.cancel(item.id)">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- end main page content -->
