<div class="row ng-scope">
  <div class="panel-default bootstrap-panel">
    <div class="panel-body footer-panel">
      <p><p><p>
      <center><h1><font size=100 color="#666666">9</font></h1></center>
    </p></p></p>
    </div>
    <div class="panel-footer">
      <font color="#949494"><center>Automation Score</center></font>
    </div>
  </div>
</div>

<div ba-panel>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><b>Requester</b></th>
        <th><b>Application</b></th>
        <th><b>Summary</b></th>
        <th><b>Source</b></th>
        <th><b>Destination</b></th>
      </tr>
    </thead>
      <tr>
        <td>john doe</td>
        <td >egwteg</td>
        <td>request 2</td>
        <td>127.0.0.1</td>
        <td>127.0.0.1</td>
    </tr>

      </tr>
    </tbody>
  </table>
</div>
</div>



<h2 class="ng-scope">Summary</h2>
  <div ba-panel>
    This is where the summary will go. It will be notes about the request. It will not be displayed in the dashboard queue but will appear here.
</div>

<center>
  <button class="btn btn-success" data-toggle="modal" ng-click="accept('/devices')">Proceed</button>
  <button class="btn btn-danger" data-toggle="modal" ng-click="accept('/devices')">Manual Close</button>
</center>
